.download {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);

  .container {
    display: flex;
    justify-content: center;
  }

  &__play-store {
    cursor: pointer;
  }

  &__app-store {
    margin-right: 40px;
    cursor: pointer;
  }
}
