.footer {
  background-color: #262626;

  &__bottom {
    font-size: 11px;
    line-height: 13px;
    color: white;
    padding: 40px 0;
  }

  &__copy {
    display: inline-block;
    width: 35%;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      color: #59bd5a;
    }

    @media screen and (max-width: $phone-size) {
      width: 50%;
      margin-right: 10px;
    }
  }

  &__privacy {
    display: inline-block;
    width: 33%;

    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      color: #59bd5a;
    }

    @media screen and (max-width: $phone-size) {
      width: 15%;
      margin-right: 5px;
    }
  }

  &__terms {
    display: inline-block;
    width: 12%;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      color: #59bd5a;
    }
  }
}
