.header {
  display: flex;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  height: 72px;
  margin-bottom: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__adress {
    @media screen and (max-width: $phone-size) {
      display: none;
    }
  }
}
