.search {
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  grid-area: search;
  margin-bottom: 56px;

  &__form {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    position: relative;

    &::before {
      content: "";
      width: 22px;
      height: 22px;
      background: url(../images/search.svg);
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 4px;
      // z-index: 10;
    }
  }

  &__button {
    background: #fff;
    border: 0;
    color: black;
    cursor: pointer;
  }

  &__icon {
    width: 22px;
    background: url(../images/search.svg) center;
    opacity: 0.8;
  }

  &__input {
    flex: 0 1 100%;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    padding: 0 8px 0 34px;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
    }

    &::placeholder {
      color: $c-gray;
      opacity: 0.5;
    }
  }
}
