// Colors
$c-gray: #eee;
$white: #fff;
$black: #000;

$base-text-color: #262626;

$main-bg-color: #fff;
$dark-bg-color: #033;

$link-color: #ccc;

// Sizes
$base-font-size: 16px;
$sm-fz: 13px;
$xs-fz: 11px;

$base-line-height: 24px;
$sm-line-height: 15px;
$xs-line-height: 13px;

$main-border-radius: 2px;
$main-border: 1px solid #e0e0e0;
$darken-border: 1px solid #262626;

$main-transition-duration: 0.4s;

// Buttons
$c-btn-primary: #1d1d1d;
$c-btn-secondary: #fff;
$bg-btn-primary: #fff;
$bg-btn-secondary: #262626;
$btn-box-sdow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

$content-size: 1124px;
$tablet-size: 1023px;
$phone-size: 768px;

// Fonts
$main-font: "Roboto", sans-serif;
